<%- include('navbar') %>

<div class="page-title container-fluid text-center d-flex flex-column align-items-center justify-content-center mb-0 hidden">
    <h1>Tentang GundarAI</h1>
</div>

<div class="container hidden">
        <p>GundarAI adalah website chatbot berbasis pengetahuan (knowledge base) yang berisi informasi mengenai Universitas Gunadarma. User dapat memberikan sebuah pertanyaan kepada chatbot yang akan diproses pertanyaan tersebut dan akan memberikan jawaban berdasarkan apa yang ada di dalam knowledge base.</p>
    
        <p>Website ini dan pembuatanya tidak memiliki affiliasi dengan pihak Universitas Gunadarma. Tujuan pembuatan website ini adalah sebagai project penulisan ilmiah Universitas Gunadarma. Pembuat chatbot dan website ini adalah Kevin Oktavian <a href="https://github.com/kevokt" target="_blank">(GitHub)</a> yang merupakan mahasiswa Gunadarma. </p>
        
        <p>Pembuatan chatbot dalam webiste ini menggunakan <a href="https://github.com/kevokt" target="_blank">Botpress</a> yang merupakan platform open-source yang digunakan untuk membangun chatbot. Pembuatan website ini menggunakan <a href="https://nodejs.org/en" target="_blank">Node.js</a> dengan <a href="https://expressjs.com/" target="_blank">Express.js</a> framework sebagai web server dan <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> sebagai UI Library dan CSS framework.</p>

        <p>Images Source:</p> 
        <ul>
            <li><a href="https://www.freepik.com/free-vector/antigravity-technology-with-elements_3912562.htm#fromView=search&page=1&position=0&uuid=81616f99-8ac5-4d30-b5e5-5af800b0a6e6" target="_blank">Image by freepik</a></li>
            <li><a href="https://www.freepik.com/free-vector/hand-drawn-flat-design-sales-representative-illustration_25046911.htm" target="_blank">Image by freepik</a></li>
            <li><a href="https://www.freepik.com/free-vector/flat-hand-drawn-people-starting-business-project_12810448.htm#fromView=search&page=1&position=1&uuid=63ed555d-be09-4eb3-ad7c-4aae04f5ddb9" target="_blank">Image by pikisuperstar on Freepik</a></li>
        </ul>
</div>