<%- include('navbar') %>

<div class="page-title container-fluid text-center d-flex flex-column align-items-center justify-content-center mb-0 hidden">
    <h1>Halaman tidak ditemukan</h1>
    <p><a href="/">Kembali ke home</a></p>
</div>