<div id="welcome-container" class="container-fluid">
    <div id="welcome-message" class="d-flex flex-column justify-content-center hidden">
      <div id="welcome-text">
        <h1>Selamat Datang</h1>
        <h1>di GundarAI</h1>
        <p>Dapatkan informasi mengenai Universitas Gunadarama secara Interaktif</p>
      </div>
      <div id="chatbot-button" class="d-flex justify-content-center">
        <a href="/chat" class="btn btn-outline-light">Chat Sekarang</a>
      </div>
      <div id="scroll-info">
        <p>Scroll ke bawah untuk informasi lebih lanjut!</p>
      </div>
    </div>
</div>

<div class="feature-wrapper vh-100 d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row gx-1">
      <div class="img-feature col-md-4 d-flex align-items-center justify-content-center">
        <section class="hidden">
          <img class="round-img" src="/images/laptop-img.png" alt="Laptop" width="200">
        </section>
      </div>
      <div class="feature-text col-md-8 my-auto">
        <section class="hidden">
          <h2>Mudah Untuk Digunakan</h2>
          <p>Ketikkan saja pertanyaan Anda, dan GundarAI akan memberikan jawaban yang jelas dan ringkas. GundarAI didesain secara intuitif dan mudah digunakan.</p>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="feature-wrapper vh-100 d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row gx-1">
      <div class="img-feature col-md-4 d-flex align-items-center justify-content-center">
        <section class="hidden">
          <img class="round-img" src="/images/students-img.png" alt="students" width="200">
        </section>
      </div>
      <div class="feature-text col-md-8 my-auto">
        <section class="hidden">
          <h2>Didesain Untuk Semua Orang</h2>
          <p>Baik Anda baru pertama kali menjelajahi Universitas Gunadarma, sedang mendaftar, atau mahasiswa Gunadarma, GundarAI menyediakan bantuan untuk semua pengguna.</p>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="feature-wrapper vh-100 d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row gx-1">
      <div class="img-feature col-md-4 d-flex align-items-center justify-content-center">
        <section class="hidden">
          <img class="round-img" src="/images/service-img.png" alt="Service" width="200">
        </section>
      </div>
      <div class="feature-text col-md-8 my-auto">
        <section class="hidden">
          <h2>Layanan Mahasiswa</h2>
          <p>Akses informasi mengenai kalendar akademik, perpindahan kelas, ketentuan skripsi, dan layanan batuan mahasiswa lainnya melalui GundarAI.</p>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="feature-wrapper vh-100 d-flex flex-column align-items-center justify-content-center">
  <h2 class="hidden">Menu</h2>
  <div class="nav-menu d-grid gap-2 col-6 row-1 mx-auto hidden">
    <a href="/chat" class="btn btn-outline-light">GundarAI Chatbot</a>
    <a href="/links" class="btn btn-outline-light">UG Links</a>
    <a href="/about" class="btn btn-outline-light">About</a>
  </div>
</div>

<div class="footer-disclaimer container-fluid text-end fs-6">
  <p> Disclaimer: <br> Website ini dibuat untuk keperluan Penulisan Ilmiah Gunadarma. Website ini dan pembuatnya tidak memiliki afiliasi dengan Universitas Gunadarma dan pembuatnya adalah hanya mahasiswanya.</p>
</div>