<%- include('navbar') %>

<div class="page-title container-fluid text-center d-flex flex-column align-items-center justify-content-center mt-5 mb-0 hidden">
    <h1>Universitas Gunadarma Links</h1>
    <p class="fw-light opacity-50">Silakan eksplorasi website-website Universitas Gunadarma</p>
</div>

<div class="container hidden mt-5 mb-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        
        <div class="col">
            <a href="/">
            <div class="card border-light bg-transparent text-light">
            <img src="/images/links/gunadarma.jfif" class="card-img-top h-200 link-img" alt="">
                <div class="card-body">
                <h5 class="card-title text-center">Gunadarma</h5>
                </div>
            </div>
            </a>
        </div>

        <%# CARD 1 Virtual Class %>
        <div class="col">
            <a href="/">
            <div class="card border-light bg-transparent text-light">
            <img src="/images/links/vclass.jfif" class="card-img-top h-200 link-img" alt="">
                <div class="card-body">
                <h5 class="card-title text-center">Virtual Class</h5>
                </div>
            </div>
            </a>
        </div>

        <%# CARD 2 Virtual Class %>
        <div class="col">
            <a href="/">
            <div class="card border-light bg-transparent text-light">
            <img src="/images/links/ug-technopark.jpeg" class="card-img-top h-200 link-img" alt="">
                <div class="card-body">
                <h5 class="card-title text-center">UG Technopark</h5>
                </div>
            </div>
            </a>
        </div>

        <%# CARD 3 BAAK %>
        <div class="col">
            <a href="/">
            <div class="card border-light bg-transparent text-light">
            <img src="/images/links/baak.jfif" class="card-img-top h-200 link-img" alt="">
                <div class="card-body">
                <h5 class="card-title text-center">BAAK</h5>
                </div>
            </div>
            </a>
        </div>

        <%# CARD 4 StudentSite %>
        <div class="col">
            <a href="/">
            <div class="card border-light bg-transparent text-light">
            <img src="/images/links/studentsite.jpg" class="card-img-top h-200 link-img" alt="">
                <div class="card-body">
                <h5 class="card-title text-center">StudentSite</h5>
                </div>
            </div>
            </a>
        </div>

        <%# CARD 5 Perpustakaan %>
        <div class="col">
            <a href="/">
            <div class="card border-light bg-transparent text-light">
            <img src="/images/links/perpustakaan.jpg" class="card-img-top h-200 link-img" alt="">
                <div class="card-body">
                <h5 class="card-title text-center">Perpustakaan</h5>
                </div>
            </div>
            </a>
        </div>

        <%# CARD Career Center %>
        <div class="col">
            <a href="/">
            <div class="card border-light bg-transparent text-light">
            <img src="/images/links/career-center.jfif" class="card-img-top h-200 link-img" alt="">
                <div class="card-body">
                <h5 class="card-title text-center">Career Center</h5>
                </div>
            </div>
            </a>
        </div>

        <%# CARD Lembaga Sertifikasi Profesi %>
        <div class="col">
            <a href="/">
            <div class="card border-light bg-transparent text-light">
            <img src="/images/links/lembaga.jfif" class="card-img-top h-200 link-img" alt="">
                <div class="card-body">
                <h5 class="card-title text-center">Lembaga Sertifikasi Profesi</h5>
                </div>
            </div>
            </a>
        </div>

        <%# CARD High Performing Computing %>
        <div class="col">
            <a href="/">
            <div class="card border-light bg-transparent text-light">
            <img src="/images/links/hpc.jpg" class="card-img-top h-200 link-img" alt="">
                <div class="card-body">
                <h5 class="card-title text-center">High Performance Computing</h5>
                </div>
            </div>
            </a>
        </div>

        <%# CARD Kemahasiswaan %>
        <div class="col">
            <a href="/">
            <div class="card border-light bg-transparent text-light">
            <img src="/images/links/kemahasiwaan.jfif" class="card-img-top h-200 link-img" alt="">
                <div class="card-body">
                <h5 class="card-title text-center">Kemahasiswaan</h5>
                </div>
            </div>
            </a>
        </div>

        <!-- <div class="col">
            <a href="/">
            <div class="card border-light bg-transparent text-light">
              <img src="/images/links/vclass.jfif" class="card-img-top h-200 link-img" alt="">
              <div class="card-body">
                <h5 class="card-title text-center">Virtual Class</h5>
              </div>
            </div>
          </div>
        </a> -->
    </div>
</div>