<nav class="navbar navbar-dark navbar-expand-lg hidden">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" href="/">GundarAI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto pe-3">
          <li class="nav-item nav-width">
            <a class="btn btn-outline-light ms-3 me-2" aria-current="page" href="/">Home</a>
          </li>  
          <li class="nav-item">
            <a class="btn btn-outline-light ms-3 me-2" aria-current="page" href="/chat">Chatbot</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light ms-3 me-2" aria-current="page" href="/links">UG Links</a>
          </li>  
          <li class="nav-item">
            <a class="btn btn-outline-light ms-3 me-2" aria-current="page" href="/tentang">About</a>
          </li>          
        </ul>
      </div>
    </div>
  </nav>