<%- include('navbar') %>

<div class="page-title container-fluid text-center d-flex flex-column align-items-center justify-content-center mb-0 hidden">
    <h1>Tentang GundarAI</h1>
</div>

<div class="container-md hidden">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <p>GundarAI adalah website chatbot berbasis pengetahuan (knowledge base) yang berisi informasi mengenai Universitas Gunadarma. User dapat memberikan sebuah pertanyaan kepada chatbot yang akan diproses pertanyaan tersebut dan akan memberikan jawaban berdasarkan apa yang ada di dalam knowledge base.</p>
    
            <p>Website ini dan pembuatanya tidak memiliki affiliasi dengan pihak Universitas Gunadarma. Tujuan pembuatan website ini adalah sebagai project penulisan ilmiah Universitas Gunadarma. Pembuat chatbot dan website ini adalah Kevin Oktavian yang merupakan mahasiswa Gunadarma. </p>
        
            <p>Pembuatan chatbot dalam webiste ini menggunakan Botpress yang merupakan platform open-source yang digunakan untuk membangun chatbot. Pembuatan website ini menggunakan Node.js dengan Express.js framework sebagai web server dan Bootstrap sebagai UI Library dan CSS framework.</p>

            <p>GitHub: 
                <a href="https://github.com/kevokt">github.com/kevokt</a>
            </p>
        </div>
    </div>
</div>